<launch>
  <node name="static_tf1" pkg="tf" type="static_transform_publisher" args="0 .1905 0 0 0 .707 .707" /base_link /lidar1 10"/>
  <node name="static_tf2" pkg="tf" type="static_transform_publisher" args="0 -.1905 0 0 0 -.707 .707" /base_link /lidar2 10"/>
  <node name="static_tf3" pkg="tf" type="static_transform_publisher" args=".127 0 .2286 0 0 0" /base_link /camera_depth_frame 10"/>
  <node name="static_tf4" pkg="tf" type="static_transform_publisher" args="
  <node pkg="nav" type="lidar1" name="lidar1" />
  <node pkg="nav" type="lidar2" name="lidar2" />
  <node pkg="rosserial_python" type="serial_node.py" name="mbed" args="/dev/ttyACM0" />
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="controller_frequency" value="3.0" />
    <rosparam file="$(find nav)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find nav)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find nav)/params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav)/params/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav)/params/base_local_planner.yaml" command="load" />
  </node>
</launch>
