<launch>
  <node name="static_tf1" pkg="tf" type="static_transform_publisher" args="0 .1651 0 0 0 .707 .707 /base_link /lidar1 10"/>
  <node name="static_tf2" pkg="tf" type="static_transform_publisher" args="0 -.1651 0 0 0 -.707 .707 /base_link /lidar2 10"/>
  <node name="static_tf3" pkg="tf" type="static_transform_publisher" args=".127 0 .2286 0 0 0 /base_link /camera_depth_frame 10"/>
  <node name="static_tf4" pkg="tf" type="static_transform_publisher" args="0.1524 0 0 0 0 0 /base_link /sonar_frame 10"/>
  <node pkg = "rosaria" type = "RosAria" name = "RosAria">
  <param name="port" value="/dev/ttyUSB0" type="string"/>
  </node>

  <arg name="serial_no"             default=""/>
  <arg name="json_file_path"        default=""/>
  <arg name="camera"                default="camera"/>

  <group ns="$(arg camera)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"         value="$(arg serial_no)"/>
      <arg name="json_file_path"    value="$(arg json_file_path)"/>
      <arg name="depth_width"       value="640"/>
      <arg name="depth_height"      value="480"/>
      <arg name="depth_fps"         value="30"/>
      <arg name="color_width"       value="640"/>
      <arg name="color_height"      value="480"/>
      <arg name="color_fps"         value="30"/>
      <arg name="enable_depth"      value="true"/>
      <arg name="enable_color"      value="true"/>
      <arg name="enable_infra1"     value="false"/>
      <arg name="enable_infra2"     value="false"/>
      <arg name="enable_fisheye"    value="false"/>
      <arg name="enable_imu"        value="false"/>
      <arg name="enable_pointcloud" value="true"/>
      <arg name="enable_sync"       value="true"/>
      <arg name="tf_prefix"         value="$(arg camera)"/>
    </include>

  </group>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="controller_frequency" value="3.0" />
    <rosparam file="$(find nav)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find nav)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find nav)/params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav)/params/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav)/params/base_local_planner.yaml" command="load" />
  </node>
</launch>
