<launch>
<node pkg="marvin_gps" type="gpsNode" name="gpsNode" output="screen"/>

<node pkg="gps_common" type="utm_odometry_node" name="utm_odometry_node" output="screen"/>

<arg name="razor_config_file" default="$(find razor_imu_9dof)/config/my_razor.yaml"/>
<node pkg="razor_imu_9dof" type="imu_node.py" name="imu_node" output="screen">
  <rosparam file="$(arg razor_config_file)" command="load"/>
</node>

<node pkg = "rosaria" type = "RosAria" name = "RosAria">
  <param name="port" value="/dev/ttyUSB0" type="string"/>

</node>

<node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" output="screen">
  <param name="output_frame" value="odom"/>
  <param name="freq" value="30.0"/>
  <param name="debug" value="true"/>
  <param name="sensor_timeout" value="10.0"/>  
  <param name="odom_used" value="true"/>
  <param name="imu_used" value="true"/>
  <param name="vo_used" value="false"/>
  <param name="gps_used" value="true"/>
  <remap from="/odom" to="RosAria/pose" />
  <remap from="/robot_pose_ekf/odom_combined" to="/odom" />
</node>

  <arg name="serial_no"             default=""/>
  <arg name="json_file_path"        default=""/>
  <arg name="camera"                default="camera"/>

  <group ns="$(arg camera)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"         value="$(arg serial_no)"/>
      <arg name="json_file_path"    value="$(arg json_file_path)"/>
      <arg name="depth_width"       value="640"/>
      <arg name="depth_height"      value="480"/>
      <arg name="depth_fps"         value="30"/>
      <arg name="color_width"       value="640"/>
      <arg name="color_height"      value="480"/>
      <arg name="color_fps"         value="30"/>
      <arg name="enable_depth"      value="true"/>
      <arg name="enable_color"      value="true"/>
      <arg name="enable_infra1"     value="false"/>
      <arg name="enable_infra2"     value="false"/>
      <arg name="enable_fisheye"    value="false"/>
      <arg name="enable_imu"        value="false"/>
      <arg name="enable_pointcloud" value="true"/>
      <arg name="enable_sync"       value="true"/>
      <arg name="tf_prefix"         value="$(arg camera)"/>
    </include>

  </group>

</launch>
