<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}][${thread}][${node}/${function}:${line}]: ${message}"/>
<node pkg="gps_common" type="utm_odometry_path_init_node" name="utm_odometry_path_init_node" output="screen"/>

<node pkg="follow_waypoints" type="follow_waypoints" name="follow_waypoints" output="screen" clear_params="true">
    <param name="goal_frame_id" value="odom"/>

</node>
</launch>


