<launch>
  <node name="static_tf4" pkg="tf" type="static_transform_publisher" args="1 0 0 0 0 0 /base_link /camera/depth/color/points 100"/>
  <node name="static_tf3" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /base_link /camera_depth_frame 100"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="controller_frequency" value="3.0" />
    <rosparam file="$(find nav)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find nav)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find nav)/params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav)/params/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav)/params/base_local_planner.yaml" command="load" />
  </node>
</launch>
